body {
    font-family: Arial;
    max-width: 400px;
    margin: 40px auto;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    background: #f2f2f2;
    margin: 6px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
  }
  button {
    padding: 4px 8px;
  }