body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #fff;
    padding: 20px;
}
h1 {
    color: #61dafb;
}
/* Campo de busca */
#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #383c44;
    border-radius: 5px;
    background-color: #3e4451;
    color: #fff;
    font-size: 16px;
}
/* Lista */
#nameList {
    list-style: none;
    padding: 0;
}
.list-item {
    background-color: #3e4451;
    padding: 12px;
    margin-bottom: 5px;
    border-left: 5px solid #ff9800;
    border-radius: 4px;
}