body {
    font-family: Arial;
    text-align: center;
    margin-top: 30px;
  }
  
  .principal {
    width: 400px;
    border-radius: 10px;
  }
  
  .thumbs img {
    width: 90px;
    margin: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: .2s;
  }
  
  .thumbs img:hover {
    opacity: 1;
  }
  