body {
    font-family: Arial;
    max-width: 600px;
    margin: 40px auto;
  }
  
  .pergunta {
    background: #faf8f8;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
  }  