body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #282c34; /* Fundo escuro */
    color: #fff; /* Texto claro */
}

h1, h2 {
    color: #61dafb; /* Cor de destaque */
}

.controls button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#registerButton {
    background-color: #4CAF50; /* Verde */
    color: white;
}

#registerButton:hover {
    background-color: #45a049;
}

#clearButton {
    background-color: #f44336; /* Vermelho */
    color: white;
}

#clearButton:hover {
    background-color: #d32f2f;
}

.click-item {
    background-color: #3e4451;
    padding: 10px;
    margin-top: 5px;
    border-left: 5px solid #61dafb;
    border-radius: 4px;
}